# General
.DS_Store
Thumbs.db
*.log
.env
*.env

# Node
server/node_modules/
server/dist/
server/build/

# Flutter/Dart
amazoneclonefrontend/.dart_tool/
amazoneclonefrontend/.flutter-plugins
amazoneclonefrontend/.flutter-plugins-dependencies
amazoneclonefrontend/.packages
amazoneclonefrontend/build/
amazoneclonefrontend/ios/Flutter/Flutter.podspec
amazoneclonefrontend/ios/Pods/
amazoneclonefrontend/android/.gradle/
amazoneclonefrontend/android/app/build/
amazoneclonefrontend/.metadata
amazoneclonefrontend/pubspec.lock

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# Secrets
config.env
server/config.env
